@model IEnumerable<SurveyWeb.Models.Survey>
@{
    ViewData["Title"] = "About";
}
@*<h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>*@

<div class="jumbotron col-12">
    <h1 class="display-4">Hello, Surveys!</h1>
    <p class="lead">Here are Survey Library, choose a Survey to Start.</p>
    <hr class="my-4">
    <p>Somewhere over the rainbow, Mo is legend.</p>
</div>


<span class="oi oi-icon-name" title="icon name" aria-hidden="true"></span>


<div class="container-fluid">
    <div class="row">
        <div class="card-deck">
            @foreach (var item in Model)
            {

                <div class="col-3">
                    @using (Html.BeginForm("About", "Home"))
                    {

                        <input name="id" value="@item.Id" style="visibility:hidden" />
                        <div class="card text-white bg-dark mb-3" style="max-width: 22rem;" type="submit" value="@item.Id">
                            <div class="card-header">
                                @Html.DisplayTextFor(modelItem => item.CreationDate)
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">@Html.DisplayTextFor(modelItem => item.Title)</h5>
                                <p class="card-text">@Html.DisplayTextFor(modelItem => item.Description)</p>
                            </div>
                            <div class="card-footer text-black-50 bg-dark">
                                <div class="row">
                                    <div class="text-left col-4">
                                    </div>

                                    <div class="text-right col-8">
                                        <button type="submit" value="@item.Id" class="btn btn-outline-light">Start</button>

                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                </div>
            }
        </div>
    </div>
</div>

