@model IEnumerable<SurveyWeb.Models.SurveyQuestion>


@{
    ViewData["Title"] = "Contact";
}

<table class="table">
    <tr>
        <th>ID</th>
        <th>Question</th>
        <th>Description</th>
    </tr>
    @foreach (var item in Model)
    {

        <tr>
            <td>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#modal_@item.Id">
                    @Html.DisplayTextFor(modelItem => item.Id)
                </button>
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.Question)
            </td>
            <td>
                @Html.DisplayTextFor(modelItem => item.Description)
            </td>
        </tr>

        <!-- Modal -->
        <div class="modal fade" id="modal_@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">
                            <span>Q</span>@Html.DisplayTextFor(modelItem => item.Id)
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @Html.DisplayTextFor(modelItem => item.Question)

                        <br />

                        @for (int i = 0; i < item.Choices.Count; i++)
                        {

                            <div class="custom-control custom-radio">
                                <input type="radio" id=@item.Choices[i].Id name="customRadio" class="custom-control-input">
                                <label class="custom-control-label" for=@item.Choices[i].Id>@Html.DisplayTextFor(modelItem => item.Choices[i].Choice)</label>
                            </div>

                        }
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    }
</table>