@model IEnumerable<SurveyWeb.Models.User>
@{
    ViewData["Title"] = "Home Page";
}

<h2>Users</h2>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Password</th>
        <th>Status</th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayTextFor(modelItem => item.Id);
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => item.Firstname);
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => item.Lastname);
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => item.Email);
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => item.Password);
        </td>
        <td>
            @Html.DisplayTextFor(modelItem => item.Status);
        </td>
    </tr>

    }
</table>
